@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(356.02deg, #e27d60 0%, #f8b500 42%, #e27d60 84%);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.i-header.is-open .i-header-background {
  left: 0;
}
.i-header-button-wrapper {
  margin-left: auto;
}
.i-header-icon {
  display: none;
}

.i-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.i-navigation-list.is-open {
  right: 0;
}
.i-header-icon-menu {
  display: block;
}

.i-header-icon-button.is-open .i-header-icon-menu {
  display: none;
}

.i-header-icon-button.is-open .i-header-icon-close {
  display: block;
}

.i-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
}

.i-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 1);
}
.i-header.is-open .i-header-background {
  left: 0;
}
.i-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 1);

  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  border-radius: 10px;
}

.i-header-icon-menu {
  display: block;
}

.i-header-icon-button.is-open .i-header-icon-menu {
  display: none;
}

.i-header-icon-button.is-open .i-header-icon-close {
  display: block;
}

.i-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.i-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  border-radius: 0px 0px 30px 30px;
  gap: 28px;
  background: rgba(255, 255, 255, 1);
  box-shadow: -6px 8px 4px 0px rgba(16, 0, 78, 0.25);
}

.i-navigation-list.is-open {
  right: 0;
}

.i-navigation-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  vertical-align: middle;
  width: 152px;
  display: block;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(30, 30, 30, 1);
}

.i-navigation-link:hover,
.i-navigatioт-link:focus {
  color: rgba(139, 30, 63, 1);
}

.i-header.is-open {
  background-color: transparent;
}

.i-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .i-navigation-img {
    display: flex;
    margin-right: 80px;
  }
  .i-policy-terms-header-icon-menu {
    display: none;
  }

  .i-header {
    width: 100%;
    height: 80px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(255, 255, 255, 1);
  }

  .i-header-background {
  }
  .i-header-icon-button {
    display: none;
  }
  .i-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .i-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 20px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .i-navigation-link {
    padding: 0px 30px;
    width: auto;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  .i-navigation-item-desk {
    display: none;
  }
}
.i-home {
  width: 375px;
  height: 800px;
  padding: 122px 20px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Hero.png");
  margin: auto;
}

.i-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.i-home-title {
  width: 335px;
  height: 184px;
}

.i-home-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 24px 0;
}

.i-home-google-button-image {
  width: 173px;
  height: 52px;
}

.i-home-google-button-link:hover .i-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .i-home {
    width: 1440px;
    height: 1024px;
    padding: 180px 316px 0px;
    background-image: url("/img/home/Hero\ \(1\).png");
  }

  .i-home-title {
    width: 467px;
    height: 256px;
  }

  .i-home-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .i-home-google-button-image {
    width: 262px;
    height: 78px;
  }
}
.i-about {
  padding: 32px 20px 0px;
  margin: auto;
  width: 375px;
  height: 734px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/Game\ Description.png");
}

.i-about-title {
  font-family: Lobster;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: bottom;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.i-about-title img {
  width: 54px;
  height: 54px;
}
.i-about-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 24px 0 16px;
}

.i-about-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.i-about-item {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  .i-about {
    padding: 90px 72px 0 730px;
    width: 1440px;
    height: 601px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-image: url("/img/about/Game\ Description\ \(1\).png");
  }
  .i-about-title {
    font-family: Lobster;
    font-weight: 400;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: bottom;

    display: flex;
    gap: 24px;
    align-items: center;
  }

  .i-about-title img {
    width: 96px;
    height: 96px;
  }
  .i-about-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding: 24px 0 16px;
  }

  .i-about-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .i-about-item {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}
.i-how {
  width: 375px;
  margin: auto;
  padding: 32px 20px;
}

.i-how-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.i-how-item {
  display: flex;
  gap: 16px;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  border-radius: 10px;
  padding: 24px;
  background: rgba(139, 30, 63, 1);
}

@media screen and (min-width: 1200px) {
  .i-how {
    width: 1440px;
    padding: 90px 72px;
  }
  .i-how-list {
    padding-top: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 52px;
  }

  .i-how-item {
    display: flex;
    gap: 16px;
    align-items: start;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 397px;
    height: 129px;
    border-radius: 10px;
    padding: 24px;
  }
}

.i-reviews {
  width: 375px;
  margin: auto;
  padding: 32px 20px;
}

.i-reviews-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.i-reviews-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.i-reviews-img {
  width: 68px;
  height: 95px;
  margin-top: 20px;
}
.i-reviews-item-top {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/reviews/rb1\ \(2\).png");
  width: 259px;
  height: 116px;
  padding-top: 4px;
  padding-right: 24px;
  padding-left: 24px;
  gap: 12px;
}
.i-reviews-item-top-two {
  background-image: url("/img/reviews/rb4\ \(1\).png");
}
.i-reviews-text-bold {
  font-family: Lobster;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.i-reviews-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: rgba(30, 30, 30, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 211px;
  height: 84px;
}

.i-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.i-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.i-gallery-button:hover {
  scale: 120%;
}

@media screen and (min-width: 1200px) {
  .i-reviews {
    width: 1440px;
    padding: 90px 72px;
  }
  .i-reviews-list {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 720px;
    gap: 64px;
    row-gap: 50px;
  }

  .i-reviews-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .i-reviews-img {
    width: 138px;
    height: 194px;
    margin-top: 0px;
  }
  .i-reviews-item-top {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/reviews/rb1.png");
    width: 439px;
    height: 154px;
    padding: 4px 46px 0 46px;
  }
  .i-reviews-item-top-two {
    background-image: url("/img/reviews/rb4.png");
  }
  .i-reviews-text-bold {
    font-family: Lobster;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  .i-reviews-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 0;
    margin-top: 30px;
  }
}

.i-faq {
  padding: 32px 20px;
  margin: auto;
  width: 375px;
}

.i-faq-container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.i-faq-item {
  background: rgba(139, 30, 63, 1);
  border-radius: 10px;
  padding: 8px 12px;
}

.i-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lobster;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.i-faq-answer {
  display: none;
  padding-top: 12px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .i-faq {
    padding: 90px 291px;
    width: 1440px;
  }
  .i-faq-container {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .i-faq-question {
    font-family: Lobster;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-faq-answer {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.i-gallery {
  width: 375px;
  margin: auto;
  padding: 32px 20px;
}

.i-gallery-list {
  padding: 24px 0;
}
.i-gallery-lists {
  display: none;
}
.i-gallery-item {
  width: 132px;
  height: 235px;
  border-radius: 15px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.i-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .i-gallery {
    width: 1440px;

    padding: 90px 72px;
  }
  .i-gallery-lists {
    display: flex;
    width: 1296px;
    padding-top: 36px;
  }
  .i-gallery-item {
    width: 197px;
    height: 350px;
    border-radius: 15px;

    margin: 0 10px;
  }

  .i-gallery-list {
    display: none;
  }
  .i-gallery-button-container {
    display: none;
  }
  .slick-prev:before {
    content: url("/img/gallery/button\ \(1\).png");
    display: flex;
    margin-left: -20px;
  }

  .slick-next:before {
    content: url("/img/gallery/button\ \(2\).png");
    display: flex;
  }
}

.i-features {
  width: 375px;
  margin: auto;
  height: 1182px;
  padding: 32px 20px;
  background-image: url("/img/features/Feature\ Keys.png");
}

.i-features-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.i-features-item {
  display: flex;
  gap: 16px;
  padding: 24px 16px 24px 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
}

.i-features-img {
  width: 67px;
  height: 51px;
}

.i-features-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(30, 30, 30, 1);
}

@media screen and (min-width: 1200px) {
  .i-features {
    width: 1440px;
    padding: 90px 629px 0 72px;
    height: 772px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-image: url("/img/features/Feature\ Keys\ \(1\).png");
  }
  .i-features-list {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .i-features-item {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    width: 748px;
  }

  .i-features-img {
    width: 101px;
    height: 76px;
  }

  .i-features-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}

.i-policy-terms-container {
  padding: 96px 16px 40px;
  width: 375px;
  background: rgba(139, 30, 63, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  margin: auto;
}

.i-policy-terms-title {
  font-family: Lobster;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-policy-terms-text {
  padding-top: 20px;
  font-family: Lobster;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-policy-terms-texts {
  padding-top: 8px;
}

.i-policy-terms-text-one {
  padding-top: 20px;
}

.i-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.i-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.i-email-link {
  color: inherit;
  text-decoration: none;
}

.i-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .i-policy-terms-container {
    padding: 166px 72px 60px;
    width: 1440px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-policy-terms-title {
    font-family: Lobster;
    font-weight: 400;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-policy-terms-text {
    padding-top: 40px;
    font-family: Lobster;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-policy-terms-text-one {
    padding-top: 30px;
  }

  .i-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.i-footer {
  width: 375px;
  margin: auto;
  color: #ffffff;
  background: rgba(139, 30, 63, 1);

  padding: 32px 0;
}

.i-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.i-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.i-footer-text {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.i-footer-copyright {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .i-footer {
    width: 1440px;
    padding: 48px 72px;
  }

  .i-footer-container {
    display: flex;
    align-items: stretch;
    gap: 30px;
  }

  .i-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 30px;
  }

  .i-footer-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .i-footer-copyright {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.i-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 20px;
  background: rgba(139, 30, 63, 1);

  z-index: 1000;
  display: none;
}

.i-cookie-popup-text-two {
  font-family: Lobster;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.i-cookie-button {
  border: none;
  background-color: transparent;
  width: 156px;
  padding: 8px 0;
  border: 3px solid rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

#accept-cookies {
  background: rgba(255, 255, 255, 1);
  color: rgba(30, 30, 30, 1);
}

.i-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .i-cookie-popup-text-two {
    font-family: Lobster;
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 40px;
  }
  .i-cookie-button {
    width: 227px;
    height: 62px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  .i-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 902px;
    padding: 32px 72px;
    display: none;
  }
}
